body {
  width: 300px;
}
.icon {
  max-width: 4em;
  max-height: 4em;
  margin: 0 auto;
  display: block;
}
/* Text Styling */
h1 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
.text-center {
  text-align: center;
}
